#center {
}

div {
}

.mb-0, .my-0 {
}

.fa.fa-cart-arrow-down.col-md-3 {
}

.table-responsive.table-borderless {
  text-align:center;
}

#valor-color {
  background-color:#E3E3E3;
  padding:10px;
  margin:-20px;
}

#botao-pagar {
  margin-left:45px;
}

.padtop-container{
  padding-top: 50px;
}

